@font-face {
  font-family: 'Helvetica';
  src: local(Helvetica);
}

body,
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background-color: black;
  position: absolute;
}
li {
  margin-bottom: 5px;
}
.linha {
  display: flex;
  flex-flow: row wrap;
}
#folha {
  height: 842px;
  width: 595px;
  background-color: white;
}
#nome {
  position: relative;
  margin-left: 25px;
  margin-bottom: 1.5%;
  background-color: rgb(1, 1, 29);
  height: 29.691211%;
  width: 220px;
  color: white;
  letter-spacing: 2.5px;
}
#coluna1 {
  width: 160px;
  height: 62.945368%;
  margin-left: 60px;
}
#coluna2 {
  width: 320px;
  height: 77.19715%;
  margin-left: 27px;
  margin-top: 18.46%;
}

.titulo {
  margin-left: -1px;
  font-family: 'Oswald', sans-serif;
  font-size: 29px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0.923%;
  letter-spacing: 2.4px;
}
.subtitulo {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 800;
  margin-block-start: 2.615385%;
  margin-block-end: 1.077%;
  letter-spacing: 0.5px;
  line-height: 1.7;
}
.info {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 10px;
  padding: 0;
  line-height: 1.5;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 14px;
}
#meuNome {
  margin-left: 30px;
  font-size: 27px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.2;
  font-weight: 300;
  padding-top: 25%;
  margin-block-start: 0;
}
#minhaProfissao {
  margin-left: 30px;
  font-weight: 200;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}
